.Home{
    background-color: #fff;
}
 
.Home .banner{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'sfproregular';
    flex-wrap: wrap-reverse;
    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(164, 164, 164, 0.10) 63.44%, rgba(139, 139, 139, 0.11) 71.77%, rgba(187, 187, 187, 0.08) 83.75%, rgba(210, 210, 210, 0.07) 87.4%, rgba(236, 236, 236, 0.05) 94.17%, rgba(255, 255, 255, 0.04) 100%), var(--Preto, #0E0F14);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 10px;
 }

 .Home .banner-text{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 50%;
    color: #fff;
    margin: 20px;
 }

 .Home .banner-text h2{
    font-family: 'sfprobold';
 }

 .Home .banner-image {
    height: 50vh;
    border-radius: 10px;
 }

 .Home .banner-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
 }

 .Home .banner-button{
    text-decoration: none;
    color: #fff;
    width: 10em;
    height: 3em;
    background-color: var(--green);
    border-radius: 1rem;
    font-family: 'sfprobold';
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 158, 219, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 158, 219, 0.25);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
 }
 
 .Home .banner-more-button{
  text-decoration: none;
  color: var(--blue);
  width: 10em;
  height: 3em;
  border: 1px solid var(--blue);
  background-color: transparent;
  border-radius: 1rem;
  font-family: 'sfprobold';
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home .banner-button:hover{
  background-color: var(--white);
  color: var(--light-black);
  border: 1px solid var(--light-black);
  transition: 0.2s;
}

.Home .banner-more-button:hover{
  background-color: var(--white);
  color: var(--light-black);
  border: 1px solid var(--light-black);
  transition: 0.2s;
}

.Home .OdsAll {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 40px 0px;
  
}

.Home .OdsContent{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    background-color: #fff;
    width: 70%;
    margin-bottom: 3%;
    /* text-align: center; */

    color: var(--black);
    font-family: 'sfproregular';
}

.Home .OdsContent img{
    width: 20%;
}

.Home .OdsContent h1{
    padding-bottom: 10px;
    font-size: 35px;
    margin-bottom: 30px;
    border-bottom: 4px solid var(--blue);
    font-family: 'sfprobold';
}

.Home .Content a{
  text-align: center;
  border-radius: 20px;
  font-size: 1rem;
  padding: 20px 30px;
  background-color: #fff;
  font-weight: 500;
  text-decoration: none;
  font-family: 'sfpromedium';
  color: #000;
}

.Home .Content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.Home .Content a{
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}

.Home .Content img{
  height: 1.2rem;
  margin-right: 0.3rem;
}
 @media screen and (max-width: 900px){
  .Home .OdsContent{
    width: 90%;
  }
  .Home .banner-text{
    align-items: center;
    width: 100%;
  }

  .Home .banner-image {
    height: 50vh;
  }

 }

 @media screen and (max-width: 490px){
  .Home .banner-image {
    height: 30vh;
  }
 }