.MainPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.MainPanelContainer {
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    border-radius: 20px;
    padding-top: 2.4rem;
    padding-bottom: 3rem;
    background-color: #f2f2f2;
}

.MainPanelContainer img {
    width: 30%;
}

.MainPanelContainer span{
    font-family: 'sfproregular';
    text-align: center;
}

.MainPanelContainer a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 6vh;
    border-radius: 20px;
    font-family: 'sfpromedium';
    font-size: 1.3rem;
    margin-top: 0.5rem;

    cursor: pointer;
    text-decoration: none;
    background-color: green;
    color: #fff;
}

.MainPanelContainer a:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.MainPanelContainer button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 6vh;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-family: 'sfpromedium';
    
    margin-left: 10px;
}

.MainPanel button img{
    width: 1.4rem;   
    margin-right: 0.5rem;
}

.MainPanelContainer button:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.MainPanelContainer .panel-username{
    font-family: 'sfpromedium';
    font-size: 1.2rem;
}

@media screen and (max-width: 490px){
    .MainPanelContainer{
        background-color: #fff;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 90vw;
        border-radius: 20px;
        padding-top: 2.4rem;
        padding-bottom: 3rem;
        background-color: #f2f2f2;
    }

    .MainPanelContainer span{
        width: 80vw;
    }
}