.SignIn{
    padding: 3rem;
    height: 100%;
}

.SignInComunity {
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    border: 1px solid grey;
    border-radius: 20px;
    padding-top: 20px;
}

.input-area .label p{
    color: #6c6c6c; 
}
.input-area .label{
    display: flex;
    flex-direction: column;
}

.SignIn .card-login{
    background-color: #e8e8e8;
    border-radius: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 30vw;
   

    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-login img{
    width: 30%;
}

.card-login h4{
    font-family: 'sfprobold';
}

.card-login .input-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 1rem;
}
.card-login .input-area .label{
    width: 80%;
    font-size: 1.2rem;
    display: flex;
    justify-content: start;
    font-family: 'sfpromedium';
}

.card-login button{
    width: 50%;
    margin-top: 2rem;
    border: none;
    height: 3rem;
    border-radius: 1rem;
    font-family: 'sfprobold';
    color: white;
    font-size: 1.2rem;
    background-color: #00bc38;
}
.card-login .Confirm{
    display: flex;
    align-items: center;
    width: 80%;
    margin-top: 0.3rem;
    font-family: 'sfproregular';
}

.card-login .Confirm label{
    margin-left: 0.3rem;
}

.card-login .cadastre{
    margin-top: 2rem;
    text-decoration: none;
    color: black;
    font-family: 'sfpromedium';
}

.card-login .forgot-password{
    text-decoration: none;
    color: gray;
    font-family: 'sfpromedium';
}
.card-login .input-area input{
    border: none;
    outline: none;
    height: 3rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 80%;
    border-radius: 0.6rem;
}

.SignIn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  
    background-repeat: no-repeat;
    background-size: cover;
}

.SignInComunity .InputArea{
    /* align-items: center; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.SignInComunity .inputText{
    margin-top: 2%;
    margin-bottom: 7%;
    width: calc(100% - 20px);
    padding: 0;
    height: 6vh;
    border-radius: 20px;
    border: 1px solid grey;
    padding-left: 20px;
}

.SignInComunity button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 6vh;
    border-radius: 20px;
    border: 1px solid grey;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.SignInComunity button:hover{
    background-color: #037DCC;
    transition: 0.3s;
    color: #fff;
}

.SignInComunity .Confirm{
    display: flex;
    width: 90%;
    margin-bottom: 20px;
}

.SignInComunity .Confirm .CheckBox{
    margin-right: 10px;
}

@media screen and (max-width: 490px){
    .SignIn .card-login{
        background-color: #e8e8e8;
        border-radius: 2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        width: 90vw;
        margin-top: 2rem;
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .CheckBox {
        width: 5vw;
        
    }
}

@media screen and (max-width: 900px){
    .SignIn .card-login{
        background-color: #e8e8e8;
        border-radius: 2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        width: 90vw;
        margin-top: 2rem;
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}