.PreHeader-All {
    width: 100%;
    background-color: var(--blue);
    
}

.PreHeader-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.PreHeader-elements img{
    width: 4vw;
    margin-left: 5%;
}

.Links-cont a{
    margin-right: 2em;
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
    font-family: 'sfproregular';

}

.Links-cont {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 7%;
}

@media screen and (max-width: 950px){
    .PreHeader-All {
        display: none;
    }
}
